* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}

body {
    background: #232323;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #dedede;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

html {
    --scrollbarBG: #fff;
    --thumbBG: #ffeda3;
}

body::-webkit-scrollbar {
    width: 11px;
}

/* header */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 20vh;
}

.logo {
    color: #dedede;
    cursor: pointer;
}

.logo:hover {
    color: #ffeda3;
}

/* main */
.main {
    min-height: 70vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main breifing */
.main-briefing {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 25px;
}

.main-briefing h3 {
    color: #f9eec0;
    font-size: 18px;
}

.main-briefing h1 {
    color: #dedede;
    font-size: 34px;
}

.main-briefing p {
    color: #dedede;
    line-height: 28px;
    letter-spacing: 1px;
}

/* main illustration */
.main-illustration {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 50px;
}

.illustration {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.illustration-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 1px solid #dedede;
    border-radius: 5px;
    width: 100%;
    padding: 50px 70px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.illustration-link h3 {
    color: #dedede;
    text-align: center;
}

/* btn */
.resume-btn {
    padding: 15px 20px;
    border-radius: 1px;
    border: 1px solid #ffeda3;
    color: #232323;
    font-weight: 600;
    background: #ffeda3;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.resume-btn:hover {
    background-color: transparent;
    border: 1px solid #ffeda3;
    color: #ffeda3;
}

/* footer */
.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    min-height: 20vh;
    background: #232323;
}

.footer div i {
    background: #000;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #dedede;
}

.footer div i:hover {
    background: #ffeda3;
    color: #000;
}

.icon {
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 40px;
}